mixed-port: 7890
log-level: debug
allow-lan: true
#bind-address: '192.168.50.248'
mode: rule
ipv6: false
interface-name: ens160
dns:
  enable: true
  listen: 0.0.0.0:53
  ipv6: false
  enhanced-mode: redir-host
  default-nameserver:
    - 223.5.5.5:53
    - 223.6.6.6:53
  nameserver:
    - 223.5.5.5:53
    - 223.6.6.6:53
  fallback:
    - 8.8.4.4:53
    - 8.8.8.8:53
  fallback-filter:
    geoip: true
    geoip-code: CN
    ipcidr:
      - 240.0.0.0/4

tun:
  enable: true
  stack: gvisor
  dns-hijack:
    - 0.0.0.0:53
  auto-route: true
  auto-detect-interface: true

proxies:
  - name: "vless-tcp-ov01"
    type: vless
    server: ov01.essmart.co
    port: 32432
    uuid: 118e3d54-27ad-4da9-a455-12b7cd6a7060
    udp: true
    tls: true
    network: tcp
    servername: ov01.essmart.co # AKA SNI
  - name: "vless-tcp-ov01az"
    type: vless
    server: ov01az.essmart.co
    port: 443
    uuid: 118e3d54-27ad-4da9-a455-12b7cd6a7060
    udp: true
    tls: true
    network: tcp
    servername: ov01.essmart.co # AKA SNI
proxy-groups:
  - name: auto
    type: fallback
    proxies:
      - vless-tcp-ov01
      - vless-tcp-ov01az
    url: http://www.gstatic.com/generate_204
    interval: 300

rules:
  - GEOSITE,icloud@cn,DIRECT
  - GEOSITE,apple@cn,DIRECT
  - GEOSITE,apple-cn,DIRECT
  - GEOSITE,microsoft@cn,DIRECT
  - GEOSITE,geolocation-cn,DIRECT
  - GEOSITE,geolocation-!cn,auto
  - GEOIP,telegram,auto,no-resolve
  - GEOIP,private,DIRECT,no-resolve
  - GEOIP,cn,DIRECT
  - MATCH,auto
