mixed-port: 7890
allow-lan: false
log-level: info
mode: rule
ipv6: false
dns:
  enable: true
  ipv6: false
  enhanced-mode: redir-host
  default-nameserver:
    - 114.114.114.114
    - 223.5.5.5
    - 223.6.6.6
    - 119.29.29.29
  nameserver:
    - https://doh-43ac7c5f-smx80.doh.pub/dns-query

proxies:
  - name: "trojan-xtls-ov01"
    type: trojan
    server: ov01.essmart.co
    port: 55231
    password: ncz2TDM8btr6ext@kaj
    udp: true
    sni: ov01.essmart.co

  - name: "trojan-xtls-ov01-azure"
    type: trojan
    server: ov01.essmart.co
    port: 34231
    password: ncz2TDM8btr6ext@kaj
    udp: true
    sni: ov01.essmart.co

proxy-groups:
  - name: auto
    type: fallback
    proxies:
      - trojan-xtls-ov01-azure
      - trojan-xtls-ov01
    url: http://www.gstatic.com/generate_204
    interval: 300

rule-providers:
  reject:
    type: http
    behavior: domain
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/reject.txt"
    interval: 86400

  icloud:
    type: http
    behavior: domain
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/icloud.txt"
    interval: 86400

  apple:
    type: http
    behavior: domain
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/apple.txt"
    interval: 86400

  proxy:
    type: http
    behavior: domain
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/proxy.txt"
    interval: 86400

  direct:
    type: http
    behavior: domain
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/direct.txt"
    interval: 86400

  private:
    type: http
    behavior: domain
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/private.txt"
    interval: 86400

  gfw:
    type: http
    behavior: domain
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/gfw.txt"
    interval: 86400

  greatfire:
    type: http
    behavior: domain
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/greatfire.txt"
    interval: 86400

  tld-not-cn:
    type: http
    behavior: domain
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/tld-not-cn.txt"
    interval: 86400

  telegramcidr:
    type: http
    behavior: ipcidr
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/telegramcidr.txt"
    interval: 86400

  cncidr:
    type: http
    behavior: ipcidr
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/cncidr.txt"
    interval: 86400

  lancidr:
    type: http
    behavior: ipcidr
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/surge-rules/release/lancidr.txt"
    interval: 86400

rules:
  - DOMAIN-SUFFIX,clash.razord.top,DIRECT
  - DOMAIN-SUFFIX,yacd.haishan.me,DIRECT
  - DOMAIN-SUFFIX,apple.com,DIRECT
  - RULE-SET,private,DIRECT
  - RULE-SET,icloud,DIRECT
  - RULE-SET,apple,DIRECT
  - RULE-SET,proxy,auto
  - RULE-SET,direct,DIRECT
  - RULE-SET,lancidr,DIRECT
  - RULE-SET,cncidr,DIRECT
  - RULE-SET,telegramcidr,auto
  - GEOIP,CN,DIRECT
  - MATCH,auto